body{
    margin: 0px;
    padding: 0px;
    color: white;
    /* background-image: url('images/backg.jpeg'); */
    background-image: url('https://source.unsplash.com/3444x3443/?gym');
    background-repeat: no-repeat;
    background-size: cover;   
    font-family: 'Baloo Bhai 2', cursive;
}

.left{
    display: inline-block;
    /* border: 2px solid purple; */
    position: absolute;
    top: 1px;
    left: 10px;
    }
.mid{
    /* border: 2px solid green; */
    /* If you want to center any element then there will be three condition for that first of all you have to make it block element and then you have to set it width and then you have to set its margin as auto. */
    display: block;
    width: 53%;
    margin: 6px auto;
}
.right{
    display: inline-block;
    /* border: 3px solid yellow; */
    position: absolute;
    top: 18px;
    right: 20px;
}
.navbar{
    display: inline-block;
    list-style: none;
}
.navbar li{
    display: inline-block;
    font-size: 20px;
}
.navbar li a {
    color: white;
    padding: 34px 23px;
    text-decoration: none;
}
.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    color: gray;
}
.left img{
    width: 93px;
    height: 71px;
    filter:  invert(100%);
}
.btn{
    color: white;
    background-color: black;
    margin: 0px 3px;
    border: 2px solid gray;
    font-family: 'Baloo Bhai 2', cursive;
    border-radius: 10%;
    padding: 6px 11px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(70, 60, 60);
}
.left div{
    line-height: 0px;
}
.container{
    /* border: 2px solid white; */
    display: inline-block;
    position: absolute;
    top: 193px;
    right: 14px;
    /* margin: 65px 54px; */
    padding: 10px 30px;
    border-radius: 10%;
}
.container h1{
    text-align: center;
}
.form-group input{
    display: block;
    width: 350px;
    margin: 6px auto;
    text-align: center;
    padding: 4px 4px;
    font-size: 17px;
    font-family: 'Baloo Bhai 2', cursive;
    border-radius: 15%;
}
.container button{
    display: block;
    width: 358px;
    margin: 25px auto;

}